body {
    overflow-x: hidden;
    background-color: var(--ci3);
}

.center_dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_vertically {
    display: flex;
    align-items: center;
}

.pad_r6vw {
    padding-right: 6vw !important;
}

.mt_12vh {
    margin-top: 12vw;
}

/*------------------------------------------------------------ Root */

:root {
    --ci1: #6B8CC9 !important;
    --ci2: #000000 !important;
    --ci3: #dee1ea !important;
    --ci4: #c3c8da !important;
    --kanit: 'Kanit', sans-serif !important;
    --taviraj: 'Taviraj', serif !important
}

.vl {
    border-left: .35em solid var(--ci1);
    height: 10em;
}

.hl {
    border-top: .25em solid var(--ci1);
    width: 3em;
}

/*------------------------------------------------------------ Set Color */

.blue_txt {
    color: var(--ci1) !important;
    font-family: var(--kanit);
}

.content_txt {
    font-family: var(--taviraj);
}

/*------------------------------------------------------------ fonts size */

.font_Header {
    font-family: var(--taviraj);
}

.font_content {
    font-family: var(--taviraj);
}

.fz_100 {
    font-weight: 100 !important;
}

.fz_200 {
    font-weight: 200 !important;
}

.fz_300 {
    font-weight: 300 !important;
}

.fz_400 {
    font-weight: 400 !important;
}

.fz_500 {
    font-weight: 500 !important;
}

.fz_600 {
    font-weight: 600 !important;
}

.fz_700 {
    font-weight: 700 !important;
}

.fz_800 {
    font-weight: 800 !important;
}

.fz_900 {
    font-weight: 900 !important;
}

/*------------------------------------------------------------ Button */

.myButton {
    background-color: var(--ci1);
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: .25em .5em;
    cursor: pointer;
    font-family: var(--kanit);
    border-radius: 100em;
    cursor: pointer;
    text-decoration: none !important;
    transition: 0.3s;
}

.myButton:hover {
    color: white !important;
    background-color: var(--ci4) !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

button:focus {
    outline: 0;
}

.unlinks a {
    text-decoration: none !important;
}

/*------------------------------------------------------------ NavBar */

.mynavbar_brand {
    width: 2.5em;
}

.my_navBg {
    border-bottom: .12em solid var(--ci1);
}

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
    z-index: 100;
}

.navbar {
    padding-bottom: 0;
}

/* Apply style after scroll */

.scrolling-active {
    background-color: #dee1eae5;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active-t {
    background-color: transparent;
    box-shadow: none !important;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ Cover */

.zoom {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

.zoom::before {
    overflow: hidden;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 99;
    background: linear-gradient(transparent, transparent);
}

.zoom #layer1 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 98;
    right: 0;
}

.zoom #layer2 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 97;
    right: 0;
}

.zoom #layer3 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 96;
    right: 0;
}

.zoom #layer4 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 95;
    right: 0;
}

.contentToBt {
    position: absolute;
    bottom: 0;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec1 */

.topicSec1 h1 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec2 */

.topicSec2 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec3 */

.topicSec3 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

.qoaote {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec4 */

.topicSec4 h1 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.arrow {
    height: 13em;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec5 */

.topicSec5 h5 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.contentSec5{
    margin-top: 20vw;
    position: absolute;
}

.content_txt {
    font-size: medium;
}

.sec5xButton{
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    width: 100%;
    padding: 10vh 0 10vh 0;
    background-image: url('asset/page1/page1_img6.png');
}

/*------------------------------------------------------------ page2 */

/*------------------------------------------------------------ sec1 */

body {
    margin-top: auto;
}

.timeline {
    border-left: 3px solid var(--ci1);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 50%;
}

@media (max-width: 767px) {
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
}

.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}

.timeline h2, .timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}

@media (max-width: 767px) {
    .timeline .event {
        padding-top: 30px;
    }
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -207px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

@media (max-width: 767px) {
    .timeline .event:before {
        left: 0px;
        text-align: left;
    }
}

.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px var(--ci1);
    box-shadow: 0 0 0 3px var(--ci1);
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

@media (max-width: 767px) {
    .timeline .event:after {
        left: -31.8px;
    }
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/*----------------------------fluke-------------------------------- page 2 */


/*-------------------------------fluke----------------------------- sec3 */

.mar_13vh{
    margin-top: 0vw;
}
.mar_14vh{
    margin-top: 10vw;
}

.fluketext1 h1{
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
    text-align: right ;
    font-weight: bold;

}

.fluketext2 h1{
    color: var(--ci1);
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:var(--ci1);
    margin-bottom: 0;

    text-align: right;
    font-family: var(--kanit);
}

.fluketext3{
    font-family: var(--taviraj);
    text-align: right;
}

.flukeimg1{
    position: relative;
    top: 50%;
    
}

/*----------------------------fluke-------------------------------- page 2 */


/*-------------------------------fluke----------------------------- sec4 */

.fluketext4{
    position: relative;
    top: 44%;
    text-align: right;
}

.flukearrow{
    position: relative;
    left :45%;
    top : 900%;
    
}

.flukearrowna{
    display: flex;
    flex-direction: column;
    align-items: right;
    height: 1em;
}

.flukeimg2{
    position: relative;
    right: 5%;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec1 */


.topic_P3_Sec1{
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec5 */

.topic_p3_sec5{
    font-size: medium;
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

img.sec5{
    width: 1100px;
    height: auto;
    margin-bottom: -9vw;
    margin-left: -10vw;
}


/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec6 */

.topic_p3_sec6{
    font-size: medium;
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

img.sec6{
    width: 800px;
    height: auto;
    margin-bottom: -7vw;
    margin-top: -1vw;
}


/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec7 */

.topic_p3_sec7{
    font-size: medium;
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

img.sec7{
    width: 800px;
    height: auto;
    padding-left: 1cm;
    margin-top: 2vw;
    margin-bottom: -5vw;
}


/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec8 */

.topic_p3_sec8{
    font-size: medium;
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

img.sec8{
    width: 900px;
    height: auto;
    padding-left: 2cm;
    margin-top: -2vw;
    margin-bottom: -17vw;
}

.arrow2 {
    height: 12em;
}

.img_over{
  width: 45em;
  height: auto;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.mar_5vh {
    margin-top: 5vw;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec3 */

.arrow2 {
    height: 8em;
}

.animated-gif{
  width: 35em;
  height: auto;
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec4 */

.content_txt_right {
    font-size: medium;
    text-align: right;
    font-family: var(--taviraj)  /*----- ไม่มีใน Set Color เลยเติมออกมาก่อน -----*/
}

.arrow2 {
    height: 8em;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.img_over2{
  width: 35em;
  height: auto;
}

.mar_5vh {
    margin-top: 5vw;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec2 */

.content_txt_right {
    font-size: medium;
    text-align: right;
    font-family: var(--taviraj)  /*----- ไม่มีใน Set Color เลยเติมออกมาก่อน -----*/
}

.arrow2 {
    height: 8em;
}

.img_over{
  width: 45em;
  height: auto;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.mt_1vh {
    margin-top: 1vw;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ Responsive */

@media screen and (max-width:800px){
    .animated-gif, .img_over2, .img_over{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    .arrow2{
        height: 6em;
        width: auto;
        float: bottom;
    }

    .content_txt_right, .content_txt, .topic_P3_Sec1{
        width:100%;
        text-align: left;
        padding-right: 1cm;
        margin-left: 20%;
    }

    .swap, .row{
        display: table;
    }

    .a{
        display: table-footer-group;
    }

    .b{
        display: table-header-group;
    }

    .c{
        display: table-footer-group;
    }
    
}

/*------------------------------------------------------------ Footer */

.my_footer {
    /* margin-top: 10vw; */
    background: var(--ci1) !important;
    color: white;
    padding: 2em 2em 1em 2em;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: var(--kanit);
}