body {
    overflow-x: hidden;
}

.center_dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*------------------------------------------------------------ Root */

:root {
    --ci1: #6B8CC9 !important;
    --ci2: #000000 !important;
    --kanit: 'Kanit', sans-serif !important;
    --taviraj: 'Taviraj', serif !important
}

.myButton {
    background-color: var(--ci1);
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: .25em .5em;
    cursor: pointer;
    font-family: var(--kanit);
    border-radius: 100em;
}

button:focus {
    outline: 0;
}


/*------------------------------------------------------------ Set Color */

.blue_txt {
    color: var(--ci1) !important;
    font-family: var(--kanit);
}


/*------------------------------------------------------------ fonts size */

.font_Header {
    font-family: var(--taviraj);
}

.font_content {
    font-family: var(--taviraj);
}

.fz_100 {
    font-weight: 100 !important;
}

.fz_200 {
    font-weight: 200 !important;
}

.fz_300 {
    font-weight: 300 !important;
}

.fz_400 {
    font-weight: 400 !important;
}

.fz_500 {
    font-weight: 500 !important;
}

.fz_600 {
    font-weight: 600 !important;
}

.fz_700 {
    font-weight: 700 !important;
}

.fz_800 {
    font-weight: 800 !important;
}

.fz_900 {
    font-weight: 900 !important;
}


/*------------------------------------------------------------ NavBar */

.navbar-brand {
    width: 2.5em;
}

.my_navBg {
    border-bottom: .12em solid var(--ci1);
}

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
    z-index: 100;
}


/*------------------------------------------------------------ page1 */

.introBg {
    background-image: url('asset/page1/page1_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden !important;
    overflow-y: scroll;
}

.intro_content {
    text-align: right;
}


/*------------------------------------------------------------ page1 */

.my_footer {
    background: var(--ci1) !important;
    color: white;
    padding: 2em 2em 1em 2em;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: var(--kanit);
}