body {
    overflow-x: hidden;
    background-color: var(--ci3);
}

.center_dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_vertically {
    display: flex;
    align-items: center;
}

.pad_r6vw {
    padding-right: 6vw !important;
}

.mar_12vh {
    margin-top: 12vw;
}


/*------------------------------------------------------------ Root */

:root {
    --ci1: #6B8CC9 !important;
    --ci2: #000000 !important;
    --ci3: #dee1ea !important;
    --ci4: #c3c8da !important;
    --kanit: 'Kanit', sans-serif !important;
    --taviraj: 'Taviraj', serif !important
}

.vl {
    border-left: .35em solid var(--ci1);
    height: 10em;
}

.hl {
    border-top: .25em solid var(--ci1);
    width: 3em;
}


/*------------------------------------------------------------ Set Color */

.blue_txt {
    color: var(--ci1) !important;
    font-family: var(--kanit);
}

.content_txt {
    font-family: var(--taviraj);
}


/*------------------------------------------------------------ fonts size */

.font_Header {
    font-family: var(--taviraj);
}

.font_content {
    font-family: var(--taviraj);
}

.fz_100 {
    font-weight: 100 !important;
}

.fz_200 {
    font-weight: 200 !important;
}

.fz_300 {
    font-weight: 300 !important;
}

.fz_400 {
    font-weight: 400 !important;
}

.fz_500 {
    font-weight: 500 !important;
}

.fz_600 {
    font-weight: 600 !important;
}

.fz_700 {
    font-weight: 700 !important;
}

.fz_800 {
    font-weight: 800 !important;
}

.fz_900 {
    font-weight: 900 !important;
}


/*------------------------------------------------------------ Button */

.myButton {
    background-color: var(--ci1);
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: .25em .5em;
    cursor: pointer;
    font-family: var(--kanit);
    border-radius: 100em;
    cursor: pointer;
    text-decoration: none !important;
    transition: 0.3s;
}

.myButton:hover {
    color: white !important;
    background-color: var(--ci4) !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

button:focus {
    outline: 0;
}

.unlinks a {
    text-decoration: none !important;
}


/*------------------------------------------------------------ NavBar */

.mynavbar_brand {
    width: 2.5em;
}

.my_navBg {
    border-bottom: .12em solid var(--ci1);
}

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
    z-index: 100;
}

.navbar {
    padding-bottom: 0;
}


/* Apply style after scroll */

.scrolling-active {
    background-color: var(--ci3);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active-t {
    background-color: transparent;
    box-shadow: none !important;
}


/*------------------------------------------------------------ page1 */


/*------------------------------------------------------------ Cover */

.zoom {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

.zoom::before {
    overflow: hidden;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 99;
    background: linear-gradient(transparent, var(--ci3));
}

.zoom #layer1 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 98;
    right: 0;
}

.zoom #layer2 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 97;
    right: 0;
}

.zoom #layer3 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 96;
    right: 0;
}

.zoom #layer4 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 95;
    right: 0;
}

.contentToBt {
    position: absolute;
    bottom: 0;
}


/*------------------------------------------------------------ page1 */


/*------------------------------------------------------------ sec1 */

.topicSec1 h1 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}


/*------------------------------------------------------------ page1 */


/*------------------------------------------------------------ sec2 */

.topicSec2 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}


/*------------------------------------------------------------ page1 */


/*------------------------------------------------------------ sec3 */

.topicSec3 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

.qoaote {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}


/*------------------------------------------------------------ page1 */


/*------------------------------------------------------------ sec4 */

.topicSec4 h1 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.arrow {
    height: 13em;
}


/*------------------------------------------------------------ page1 */


/*------------------------------------------------------------ sec5 */

.topicSec5 h5 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

.img_sec5 {
    top: -15vh;
}


/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec1 */

.content_txt_right {
    font-size: medium;
    text-align: right;
}


/*------------------------------------------------------------ Footer */

.my_footer {
    margin-top: 10vw;
    background: var(--ci1) !important;
    color: white;
    padding: 2em 2em 1em 2em;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-family: var(--kanit);
    
}

/*----------------------------fluke-------------------------------- page 2 */


/*-------------------------------fluke----------------------------- sec3 */

.mar_13vh{
    margin-top: 0vw;
}
.mar_14vh{
    margin-top: 10vw;
}

.fluketext1 h1{
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
    text-align: right ;
    font-weight: bold;

}

.fluketext2 h1{
    color: var(--ci1);
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:var(--ci1);
    margin-bottom: 0;

    text-align: right;
    font-family: var(--kanit);
}

.fluketext3{
    font-family: var(--taviraj);
    text-align: right;
}

.flukeimg1{
    position: relative;
    top: 50%;
    
}

/*----------------------------fluke-------------------------------- page 2 */


/*-------------------------------fluke----------------------------- sec4 */

.fluketext4{
    position: relative;
    top: 44%;
    text-align: right;
}

.flukearrow{
    position: relative;
    left :45%;
    top : 900%;
    
}

.flukearrowna{
    display: flex;
    flex-direction: column;
    align-items: right;
    height: 1em;
}

.flukeimg2{
    position: relative;
    right: 5%;
}

<<<<<<< Updated upstream
=======
/*------------------------------------------------------------ sec3 */

.arrow2 {
    height: 8em;
}

.animated-gif{
  width: 35em;
  height: auto;
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec4 */

.content_txt_right {
    font-size: medium;
    text-align: right;
    font-family: var(--taviraj)  /*----- ไม่มีใน Set Color เลยเติมออกมาก่อน -----*/
}

.arrow2 {
    height: 8em;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.img_over2{
  width: 35em;
  height: auto;
}

.mar_5vh {
    margin-top: 5vw;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ sec2 */

.content_txt_right {
    font-size: medium;
    text-align: right;
    font-family: var(--taviraj)  /*----- ไม่มีใน Set Color เลยเติมออกมาก่อน -----*/
}

.arrow2 {
    height: 8em;
}

.img_over{
  width: 45em;
  height: auto;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.mt_1vh {
    margin-top: 1vw;
}

/*------------------------------------------------------------ page 3 */


/*------------------------------------------------------------ Responsive */

@media screen and (max-width:800px){
    .animated-gif, .img_over2, .img_over{
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    .arrow2{
        height: 6em;
        width: auto;
        float: bottom;
    }

    .content_txt_right, .content_txt, .topic_P3_Sec1{
        width:100%;
        text-align: left;
        padding-right: 1cm;
        margin-left: 20%;
    }

    .swap, .row{
        display: table;
    }

    .a{
        display: table-footer-group;
    }

    .b{
        display: table-header-group;
    }

    .c{
        display: table-footer-group;
    }
    
}

/*------------------------------------------------------------ Footer */

.my_footer {
    background: var(--ci1) !important;
    color: white;
    padding: 2.5em 0em 2.5em 0em;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.my_footer p{
    font-size: small;
    margin: 0;
    font-family: var(--taviraj);
}

/*-----------------fluke-------------------*/
.fluke{
    display:grid ;

}

.flukesm1{
    grid-column:2 / span 2;
    grid-row: 2/ span 2;

}

.flukesm2{
    grid-column:3 / span 2;
    grid-row: 1 / span 2;
    
}

.flukesm3{
    position: relative;
    right: 0vw;
    top:16vw;
    text-align: right;
}

.flukeimg1{
    position: relative;
    width: 100%;
    top: 10%;

}

.flukeimg2{
    position: relative;
    width: 130%;
    right: 40%;
    

}
.flukeimg3{
    position: relative;
    width: 200%;
    right: 55%;


}


h4{
    font-size: 100%;
}

.fluktext1{
    text-align: right;
    padding-right: 0vw;
    padding-top: 1vw;
    
}

.fluktext2 h1{
    position: relative;
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
    text-align: right ;
    font-weight: bold;
    
}

.flukearrow{
    position: relative;
    bottom: 19vw;
    width: 2vw;
    left: 0vw;


    
}

.fluktextt
{
    color: var(--ci1);
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:var(--ci1);
    margin-bottom: 0;

    text-align: right;
    font-family: var(--kanit);
}

/*-----------------fluke-------------------*/

>>>>>>> Stashed changes
