body {
    overflow-x: hidden !important;
    background-color: var(--ci3);
}

/*------------------------------------------------------------ Root / Components */

:root {
    --ci1: #6B8CC9 !important;
    --ci2: #000000 !important;
    --ci3: #dee1ea !important;
    --ci4: #c3c8da !important;
    --kanit: 'Kanit', sans-serif !important;
    --taviraj: 'Taviraj', serif !important
}

.vl {
    border-left: .35em solid var(--ci1);
    height: 10vw;
}

.hl {
    border-top: .15em solid var(--ci1);
    width: 3em;
}

.center_dis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle_vertically {
    display: flex;
    align-items: center;
}

.pad_r6vw {
    padding-right: 6vw !important;
}

.mt_8vh {
    margin-top: 8vh;
}

.mt_10vh {
    margin-top: 10vh;
}

.mt_20vh {
    margin-top: 20vh;
}

.mt_25vh {
    margin-top: 25vh;
}

.contentToBt {
    position: absolute;
    bottom: 0;
}

/*------------------------------------------------------------ Set Color */

.blue_txt {
    color: var(--ci1) !important;
    font-family: var(--kanit);
}

.content_txt {
    font-family: var(--taviraj);
}

/*------------------------------------------------------------ set fonts */

.font_Header {
    font-family: var(--taviraj);
}

.font_content {
    font-family: var(--taviraj);
}

.fz_100 {
    font-weight: 100 !important;
}

.fz_200 {
    font-weight: 200 !important;
}

.fz_300 {
    font-weight: 300 !important;
}

.fz_400 {
    font-weight: 400 !important;
}

.fz_500 {
    font-weight: 500 !important;
}

.fz_600 {
    font-weight: 600 !important;
}

.fz_700 {
    font-weight: 700 !important;
}

.fz_800 {
    font-weight: 800 !important;
}

.fz_900 {
    font-weight: 900 !important;
}

/*------------------------------------------------------------ Button */

.myButton {
    background-color: var(--ci1);
    border: none;
    color: white;
    padding: .5em 1em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: .25em .5em;
    cursor: pointer;
    font-family: var(--kanit);
    border-radius: 1em;
    cursor: pointer;
    text-decoration: none !important;
    transition: 0.3s;
}

.myButton:hover {
    color: white !important;
    background-color: var(--ci4) !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

button:focus {
    outline: 0;
}

.unlinks a {
    text-decoration: none !important;
}

/*------------------------------------------------------------ NavBar */

.mynavbar_brand {
    width: 2em;
}

.my_navBg {
    border-bottom: .12em solid var(--ci1);
}

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
    z-index: 100;
}

.navbar {
    padding-bottom: 0;
}

.navbar-nav a:hover {
    box-shadow: 0px 0.25em var(--ci1);
}

.navbar-nav a.active {
    box-shadow: 0px 0.25em var(--ci1);
}

/* Apply style after scroll */

.scrolling-active {
    background-color: #dee1eae5;
    box-shadow: 0 3px 2rem rgba(0, 0, 0, 0.1);
}

.scrolling-active-t {
    background-color: transparent;
    box-shadow: none !important;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ Cover */

.keyart .keyart_layer {
    height: auto;
    bottom: 0;
}

#parallax {
    display: block;
}

.keyart {
    position: relative;
    z-index: 10;
}

.keyart_layer {
    width: 100%;
    position: absolute;
}

.keyart_layer.parallax {
    position: fixed;
}

/* last parallax */

/* .zoom {
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;

}

.zoom::before {
    overflow: hidden;
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 99;
    background: linear-gradient(transparent, transparent);
}

.zoom #layer1 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 98;
    right: 0;
}

.zoom #layer2 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 97;
    right: 0;
}

.zoom #layer3 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 96;
    right: 0;
}

.zoom #layer4 {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    z-index: 95;
    right: 0;
} */

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec1 */

.topicSec1 h1 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

.topicBox {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 2em;
}

.topicBox h1 {
    color: var(--ci1);
    font-size: 4em;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec2 */

.topicSec2 {
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec3 */

.topicSec3 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

.qoaote {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec4 */

.topicSec4 h1 {
    color: var(--ci1);
    font-family: var(--kanit);
    font-size: 2.5em;
}

.arrow_p1s4 {
    height: 15em;
}

/*------------------------------------------------------------ page1 */

/*------------------------------------------------------------ sec5 */

.topicSec5 h2 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.contentSec5 {
    margin-top: 20vw;
    position: absolute;
}

.content_txt {
    font-size: medium;
}

.P1Button {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    width: 100%;
    padding: 10vh 0 10vh 0;
    background-image: url('asset/page1/page1_img6.png');
}

/*------------------------------------------------------------ page2 */

/*---------------------Aommy---------------------------------- sec1 */

.timeline {
    border-left: 3px solid #6B8CC9;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.3px;
    position: static;
    line-height: 1.5em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 50%;
    font-family: var(--taviraj);
}

.timeline .item {
    border-left: 3px solid #6B8CC9;
}

.timeline li:last-child {
    border-left: 3px solid #6B8CC9;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 0px;
}

.timeline h1 {
    font-size: 1.4em;
    font-family: var(--taviraj);
}

.timeline h2, .timeline h3 {
    font-family: var(--taviraj);
    font-size: 1rem;
    margin-bottom: 10px;
}

.timeline .topictimelineblue {
    font-family: var(--kanit) !important;
    color: #6B8CC9;
    font-size: 150%;
    position: relative;
}

.timeline .topictimelineblue h2 {
    font-family: var(--kanit) !important;
    font-size: 2rem;
}

.timeline .topictimeline {
    font-family: var(--taviraj);
    position: relative;
}

.timeline .event {
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before, .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -340px;
    text-align: right;
    content: attr(data-date);
    color: var(--ci1);
    font-family: var(--kanit);
    font-size: 150%;
    min-width: 120px;
}

.timeline .event:after {
    left: -62.5px;
    height: 5px;
    width: 5px;
    content: "";
    background-color: #6B8CC9;
    height: 2px;
    width: 20px;
    margin: 12px auto;
}

.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

.topic_p3s1 h2 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

/*------------------------------------------------------------ page2 */

/*------------------------------------------------------------ sec2 */

/*------------------------------------------------------------ page2 */

/*------------------------------------------------------------ sec3 */

.topic_p2s3 {
    font-family: var(--taviraj);
    text-align: right;
    padding-right: 0vw;
    padding-top: 1vw;
}

.topic_p2s3 h1 {
    position: relative;
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
    text-align: right;
    font-weight: bold;
}

.content_txt_p2s3 {
    text-align: right;
    padding-right: 0vw;
    padding-top: 1vw;
}

.topic_p2s3_subtext {
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.75px;
    -webkit-text-stroke-color: var(--ci1);
    margin-bottom: 0;
    text-align: right;
    font-family: var(--kanit);
}

/*------------------------------------------------------------ page2 */

/*------------------------------------------------------------ sec4 */

.topic2Sec4 {
    position: relative;
    right: 0vw;
    top: 16vw;
    text-align: right;
}

.arrow_p2s4 {
    position: relative;
    bottom: 22vw;
    width: 2vw;
    left: 0vw;
}

.P2Button {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20vh;
    margin-bottom: -2vw;
    height: 60vh;
    width: 100%;
    padding: 30vh 0 5vh 0;
    background-image: url('asset/page2/page2_img5.png');
}

.P2Button_mobile {
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -12vh;
    width: 100%;
    padding: 20vh 0 20vh 0;
    background-image: url('asset/page2/page2_img5.png');
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec1 */

.topic_P3_Sec1 {
    margin-bottom: 0;
    color: var(--ci1);
    font-family: var(--kanit);
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec2 */

.content_txt {
    font-size: medium;
}

.arrow2 {
    height: 7em;
}

.img_over {
    width: 100%;
    height: auto;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.mt_1vh {
    margin-top: 1vw;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec2 */

.content_txt_right {
    font-size: medium;
    text-align: right;
    font-family: var(--taviraj)/*----- ไม่มีใน Set Color เลยเติมออกมาก่อน -----*/
}

.arrow_p3s2 {
    height: 8em;
}

.img_over {
    width: 45em;
    height: auto;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec3 */

.arrow_p3s3 {
    height: 7em;
}

.animated-gif {
    width: 100%;
    height: auto;
}

.content_txt {
    font-size: medium;
}

/*  */

.arrow2 {
    height: 8em;
}

.animated-gif {
    width: 35em;
    height: auto;
}

.content_txt {
    font-size: medium;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec4 */

.content_txt_right {
    font-size: medium;
    text-align: right;
    font-family: var(--taviraj)
}

.arrow_p3s4 {
    height: 8em;
}

.right_dis {
    display: flex;
    flex-direction: row-reverse;
}

.img_over2 {
    width: 35em;
    height: auto;
}

.mar_5vh {
    margin-top: 5vw;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec5 */

.topic_p3_sec4 {
    font-size: medium;
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

.sec4 {
    width: 100%;
    height: auto;
    margin-bottom: -9vw;
    margin-left: 0vw;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec5 */

.topic_p3_sec5 {
    font-family: var(--kanit);
    font-size: medium;
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

.sec5 {
    width: 100%;
    height: auto;
    margin-bottom: -9vw;
    margin-left: 0vw;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec6 */

.topic_p3_sec6 {
    font-family: var(--kanit);
    text-align: right;
    color: var(--ci1);
    padding-right: 1cm;
}

.sec6 {
    width: 100%;
    height: auto;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec7 */

.topic_p3_sec7 {
    font-family: var(--kanit);
    text-align: right;
    color: var(--ci1);
}

.sec7 {
    width: 100%;
    height: auto;
}

/*------------------------------------------------------------ page 3 */

/*------------------------------------------------------------ sec8 */

.topic_p3_sec8 {
    font-family: var(--kanit);
    text-align: right;
    color: var(--ci1);
}

.sec8 {
    width: 100%;
    height: auto;
    margin-bottom: -15vw;
    position: relative;
}

.P3Button {
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    width: 100%;
    padding: 10vh 0 10vh 0;
    background-image: url('asset/page3/page3_img8.png');
}

/*------------------------------------------------------------ Footer */

.my_footer {
    background: var(--ci1) !important;
    color: white;
    padding: 2.5em 0em 2.5em 0em;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.my_footer p {
    font-size: small;
    margin: 0;
    font-family: var(--taviraj);
}